In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [28]:
toddlers1_df = pd.read_csv('Study on toddlers.csv')

In [30]:
toddlers1_df.head()

,Unnamed: 0,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,...,Age_Mons,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,1,2,1,1,0,0,0,1,1,0,...,36,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,2,3,1,0,0,0,0,0,1,1,...,36,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,3,4,1,1,1,1,1,1,1,1,...,24,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,4,5,1,1,0,1,1,1,1,1,...,20,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,5,6,1,1,0,0,1,1,1,1,...,21,8,m,black,no,no,family member,Yes,yes,Toddlers

In [4]:
adults_df = pd.read_csv('Study on adults.csv')

In [5]:
adults_df.head()

,Unnamed: 0,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,1,1,1,1,0,0,1,1,0,0,f,White-European,no,no,Self,NO,6,yes,Adults(Young)
1,1,1,1,0,1,0,0,0,1,0,1,m,Latino,no,yes,Self,NO,5,yes,Youth
2,2,1,1,0,1,1,0,1,1,1,1,m,Latino,yes,yes,Parent,YES,8,yes,Adults(Young)
3,3,1,1,0,1,0,0,1,1,0,1,f,White-European,no,yes,Self,NO,6,yes,Adults(Young)
4,5,1,1,1,1,1,0,1,1,1,1,m,Others,yes,no,Self,YES,9,yes,Adults(Mid)

In [6]:
adults_df['Class/ASD Traits'] = adults_df['Class/ASD Traits'].str.lower()

In [76]:
toddlers1_df['Class/ASD Traits'] = adults_df['Class/ASD Traits'].str.lower()

In [7]:
adults_df.head()

,Unnamed: 0,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,1,1,1,1,0,0,1,1,0,0,f,White-European,no,no,Self,no,6,yes,Adults(Young)
1,1,1,1,0,1,0,0,0,1,0,1,m,Latino,no,yes,Self,no,5,yes,Youth
2,2,1,1,0,1,1,0,1,1,1,1,m,Latino,yes,yes,Parent,yes,8,yes,Adults(Young)
3,3,1,1,0,1,0,0,1,1,0,1,f,White-European,no,yes,Self,no,6,yes,Adults(Young)
4,5,1,1,1,1,1,0,1,1,1,1,m,Others,yes,no,Self,yes,9,yes,Adults(Mid)

In [8]:
adults_df['Who completed the test'].unique()

array(['Self', 'Parent', 'Health care professional', 'Relative', 'Others'],
      dtype=object)

In [31]:
toddlers1_df['Who completed the test'].unique()

array(['family member', 'Health Care Professional', 'Others', 'Self',
       'Health care professional'], dtype=object)

In [32]:
toddlers1_df['Who completed the test'] = toddlers1_df['Who completed the test'].replace('Health Care Professional', 'Health care professional')

In [33]:
toddlers1_df['Who completed the test'].unique()

array(['family member', 'Health care professional', 'Others', 'Self'],
      dtype=object)

In [13]:
adults_df['Who completed the test'] = adults_df['Who completed the test'].replace('Parent', 'family member')

In [14]:
adults_df['Who completed the test'] = adults_df['Who completed the test'].replace('Relative', 'family member')

In [15]:
adults_df['Who completed the test'].unique()

array(['Self', 'family member', 'Health care professional', 'Others'],
      dtype=object)

In [18]:
adults_df['Family_mem_with_ASD'].unique()

array(['no', 'yes'], dtype=object)

In [34]:
toddlers1_df['Family_mem_with_ASD'].unique()

array(['no', 'yes'], dtype=object)

In [22]:
adults_df.drop(adults_df.iloc[:,1:11], inplace=True, axis=1)

In [23]:
adults_df

,Unnamed: 0,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,f,White-European,no,no,Self,no,6,yes,Adults(Young)
1,1,m,Latino,no,yes,Self,no,5,yes,Youth
2,2,m,Latino,yes,yes,family member,yes,8,yes,Adults(Young)
3,3,f,White-European,no,yes,Self,no,6,yes,Adults(Young)
4,5,m,Others,yes,no,Self,yes,9,yes,Adults(Mid)
...,...,...,...,...,...,...,...,...,...,...
468,697,f,Pasifika,no,no,Self,yes,10,yes,Adults(Young)
469,698,f,White-European,no,no,Self,yes,7,yes,Youth
470,700,f,Others,no,no,Self,yes,7,yes,Youth
471,701,m,South Asian,no,no,Self,no,6,yes,Adults(Young)
472,702,f,White-European,no,no,Self,yes,8,yes,Adults(Young)

In [37]:
toddlers1_df.drop(toddlers1_df.iloc[:,1:12], inplace=True, axis=1)

In [38]:
toddlers1_df

,Unnamed: 0,Age_Mons,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,1,36,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,2,36,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,3,24,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,4,20,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,5,21,8,m,black,no,no,family member,Yes,yes,Toddlers
...,...,...,...,...,...,...,...,...,...,...,...
723,1046,24,7,f,middle eastern,no,no,family member,Yes,yes,Toddlers
724,1047,30,5,f,White European,no,no,family member,Yes,yes,Toddlers
725,1050,12,5,m,black,yes,no,family member,Yes,yes,Toddlers
726,1051,18,9,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
727,1053,24,6,m,asian,yes,yes,family member,Yes,yes,Toddlers

In [41]:
toddlers1_df.drop('Age_Mons', axis = 1, inplace=True)

In [42]:
toddlers1_df

,Unnamed: 0,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,1,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,2,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,3,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,4,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,5,8,m,black,no,no,family member,Yes,yes,Toddlers
...,...,...,...,...,...,...,...,...,...,...
723,1046,7,f,middle eastern,no,no,family member,Yes,yes,Toddlers
724,1047,5,f,White European,no,no,family member,Yes,yes,Toddlers
725,1050,5,m,black,yes,no,family member,Yes,yes,Toddlers
726,1051,9,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
727,1053,6,m,asian,yes,yes,family member,Yes,yes,Toddlers

In [43]:
toddlers1_df.drop('Unnamed: 0', axis = 1, inplace=True)

In [44]:
adults_df.drop('Unnamed: 0', axis = 1, inplace=True)

In [45]:
toddlers1_df.head()

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,8,m,black,no,no,family member,Yes,yes,Toddlers

In [73]:
toddlers1_df.rename(columns={'Class/ASD Traits':'ASD_traits'},inplace = True)

In [74]:
toddlers1_df.head()

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,8,m,black,no,no,family member,Yes,yes,Toddlers

In [46]:
adults_df.head()

,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,f,White-European,no,no,Self,no,6,yes,Adults(Young)
1,m,Latino,no,yes,Self,no,5,yes,Youth
2,m,Latino,yes,yes,family member,yes,8,yes,Adults(Young)
3,f,White-European,no,yes,Self,no,6,yes,Adults(Young)
4,m,Others,yes,no,Self,yes,9,yes,Adults(Mid)

In [61]:
toddlers1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          728 non-null    int64
 1   Gender                  728 non-null    object
 2   Ethnicity               728 non-null    object
 3   Jaundice                728 non-null    object
 4   Family_mem_with_ASD     728 non-null    object
 5   Who completed the test  728 non-null    object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           728 non-null    object
 8   age-group               728 non-null    object
dtypes: int64(1), object(8)
memory usage: 51.3+ KB

In [62]:
adults_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  473 non-null    object
 1   Ethnicity               473 non-null    object
 2   Jaundice                473 non-null    object
 3   Family_mem_with_ASD     473 non-null    object
 4   Who completed the test  473 non-null    object
 5   Class/ASD Traits        473 non-null    object
 6   Qchat-10-Score          473 non-null    int64
 7   Probable_case           473 non-null    object
 8   age-group               473 non-null    object
dtypes: int64(1), object(8)
memory usage: 33.4+ KB

In [77]:
frames = [toddlers1_df, adults_df]
df2 = pd.concat(frames)

In [78]:
df2.reset_index(drop=True, inplace=True)

In [79]:
df2

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group,Class/ASD Traits
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers,no
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,no
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers,yes
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers,no
4,8,m,black,no,no,family member,Yes,yes,Toddlers,yes
...,...,...,...,...,...,...,...,...,...,...
1196,10,f,Pasifika,no,no,Self,NaN,yes,Adults(Young),yes
1197,7,f,White-European,no,no,Self,NaN,yes,Youth,yes
1198,7,f,Others,no,no,Self,NaN,yes,Youth,yes
1199,6,m,South Asian,no,no,Self,NaN,yes,Adults(Young),no
1200,8,f,White-European,no,no,Self,NaN,yes,Adults(Young),yes

In [75]:
toddlers1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          728 non-null    int64
 1   Gender                  728 non-null    object
 2   Ethnicity               728 non-null    object
 3   Jaundice                728 non-null    object
 4   Family_mem_with_ASD     728 non-null    object
 5   Who completed the test  728 non-null    object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           728 non-null    object
 8   age-group               728 non-null    object
dtypes: int64(1), object(8)
memory usage: 51.3+ KB